
%h1 All Studies

%table#studies
  %thead
    %tr
      %th Title
      %th description
      %th special instructions
      %th More Info
  %tbody
    - @studies.each do |study|
      %tr
        %td= study.title 
        %td= study.description
        %td= study.special_instructions
        %td= link_to "More about #{study.title}", {:action => 'show', :id => study.id}

= link_to 'Add new study', {:action => 'new'}
