.body
  %h1.title My Created Studies
%div#center
%br
  %table.table.table-hover.table-nonfluid
    %tr
      %th Title
      %th Times and Locations
      %th 
      %th
      %th
    %tbody
      - @studies.each do |study|
        %tr
          = form_tag(users_created_studies_path, method: :get) do
            %td= link_to "#{study.title}", study_path(study), :class => 'btn btn-link'
            - study.studytimes.each do |studytime|
              %td= studytime.to_s
              %td= link_to "Take Attendance", studies_attendance_path(studytime), :class => 'btn btn-info'
            %td= link_to "Edit", edit_study_path(study), :class => 'btn btn-warning'
          %td= link_to 'Delete', study_path(study), :method => :delete, :confirm => 'Study Deleted. Press Cancel to Undo if it was a mistake.', :class => 'btn btn-danger' 