%div#body
  %h1.title My Created Studies

  %ul.maincontent#mycreatedstudies
    - @studies.each do |study|
      %li
        %div#top
          %div#left
            %h3#title= study.title
            Researchers: 
            - numresearchers = study.researchers.size
            - study.researchers.each do |r|
              = link_to "#{r.first_name} #{r.last_name}", user_path(r), :class => 'btn btn-link'
              - numresearchers -= 1
              - if numresearchers > 0
                | 
          %div#right
            = link_to "Edit", edit_study_path(study), :class => 'btn btn-warning'
          %div#right
            Times and Locations:
            = form_tag(users_created_studies_path, method: :get) do
              - study.studytimes.each do |studytime|
                %div
                  %input{:checked => "", :name=> "selected_studytime", :type => "radio", :value => studytime.id}
                  = studytime.to_s()
              %input{:type =>"submit", :value => "Take Attendance", :class => 'btn btn-info'}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>