-#  This file is app/views/movies/my_studies.html.haml

%div#body
  %h1 My Created Studies (only available to researchers)
  = link_to "CREATE NEW STUDY", new_study_path(), { :class => "selection_link"}
  <br><br>

  %ul.maincontent#mycreatedstudies
    - @studies.each do |study|
      %li
        %div#top
          %div#left
            %p#title= study.title
            Researchers: 
            - numresearchers = study.researchers.size
            - study.researchers.each do |r|
              = link_to "#{r.first_name} #{r.last_name}", user_path(r), { :class => "researcher_link"}
              - numresearchers -= 1
              - if numresearchers > 0
                | 
          %div#right
            = link_to "EDIT THIS STUDY", edit_study_path(study), { :class => "selection_link"}
          %div#right
            Times and Locations:
            = form_tag(studies_attendance_path(study.id), method: :post) do
              - study.studytimes.each do |studytime|
                %div
                  %input{:checked => "", :name=> "studyTime", :type => "radio", :value => studytime.id}
                  = studytime.toString()
              %input{:type =>"submit", :value => "Take Attendance"}
        %div#bottom
          %p#description= study.description