-
%div#body
	%h1 Edit Account
	%div.maincontent#edit

		= form_for @user, method: :put do |u|
			<br>

			= label :user, :paper_option, 'Paper Option'
			<select name='user[paper_option]'>
			<option value = true> Yes </option>
			<option value = false> No </option>
			</select>

			<br><br>

			= u.label :course_option
			%br
			- @all_courses.each do |c|
				= check_box "course", c.id
				= c.toString
				<br>

			<br>

			%div#wrapper= u.submit "Update User Info"

		%div= button_to "DELETE ACCOUNT", user_path(@user), {:method => :delete, :confirm => "Are you sure?"}
