%div#body
	%h1 Edit Account
	%div.maincontent#edit
		= form_for @user, method: :put do |u|
			= u.label :role
			= u.radio_button :role, 'participant'
			Participant
			= u.radio_button :role, 'researcher'
			Researcher

			= u.label :paper_option
			= u.radio_button :paper_option, true
			Yes
			= u.radio_button :paper_option, false
			No
			%br

			= u.label :course_option
			%br
			- Course.all.each do |c|
				= u.check_box :course
				c.toString 

			= u.submit "Update User Info"

		%div#wrapper= button_to "DELETE ACCOUNT", user_path(@user), {:method => :delete, :confirm => "Are you sure?"}