-# edit.html.haml using partial

%h1 Edit Existing User

= form_tag user_path(@user), :method => :put do

  = label :user, :first_name, 'First Name'
  = text_field :user, 'first_name'

  = label :user, :last_name, 'Last Name'
  = text_field :user, 'last_name'

  = label :user, :role, 'Role'
  <select name="user[role]">
  <option value="participant">Participant</option>
  <option value="researcher">Researcher</option>
  <option value="admin">Administrator</option>
  </select>

  = label :user, :paper_option, 'Paper Option'
  <select name="user[paper_option]">
  <option value=true>Yes</option>
  <option value=false>No</option>
  </select>

 
 
  <br> <br>
 
  = submit_tag'Update User Info'
