.body
  %h1.title All Users
%div#center
  / = form_tag users_path, :method => :get do
  /   %select{:name => "courses"}
  /     = options_for_select( ["All Courses"] )
  /     - @all_courses.each do |course|
  /       /= course
  /       = options_for_select( {course.section + ": " + course.instructor => course.id} )
  /   = submit_tag 'Refresh', :id => "course_submit", :class => 'btn btn-primary'
  = search_form_for @sort, url: users_path, :method => :get do |f|
    = f.condition_fields do |c|
      Sort:
      = f.sort_fields do |s|
        = s.sort_select
    = f.submit "Search", :class => 'btn btn-primary'

%table.table.table-hover.table-bordered.table-nonfluid
  %tr
    %th App ID
    %th First Name
    %th= sort_link @sort, :last_name, "Last Name"
    %th Role
    %th Courses
    %th # Completed
    %th # Signed Up For
    %th Paper Option
    %th More Info
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.first_name
        %td= user.last_name
        %td= user.role
        %td
          - user.courses.each do |c|
            %p#courses= c.section
        %td= user.completedstudies.size
        %td= user.studytimes.size
        %td= user.paper_yes_or_no
        %td= link_to "Details of #{user.name}", user_path(user), :class => 'btn btn-link'
%div#pagination
  = will_paginate @users, renderer: BootstrapPagination::Rails
%br


/     #3. sort by selection
/     
/     elsif (params[:sort_by] == "signedupfor")
/       @users.sort!() {|a, b| -1*(a.studytimes.size <=> b.studytimes.size) }
/     elsif (params[:sort_by] == "completedstudies" )
/       @users.sort!() {|a, b| -1*(a.completedstudies.size <=> b.completedstudies.size) 
/     end