-#  This file is app/views/users/index.html.haml
%div#body
  %h1 All Users

  %ul.maincontent#users
    - @users.each do |user|
      - if user.role != 'admin'
        %li
          %div#top
            %div#left
              %p#title= user.first_name + " " + user.last_name 
              %p#role= "Role: " + user.role.capitalize
              %p= "Studies signed up for: #{user.studytimes.size}"
              %p= "Studies completed: #{user.completedstudies.size}"
              - if @me.admin?
                %p= "Paper Option:  #{user.paper_yes_or_no}"
            %div#right
              = link_to "MORE INFO", user_path(user), { :class => "selection_link"}
