.body
  %h1.title All Users
%div#center
  = search_form_for @sort do |f|
    = f.label :courses_section_or_courses_instructor_cont, "Course/Instructor (ex. 101C or Weisz)"
    = f.text_field :courses_section_or_courses_instructor_cont
    = f.submit "Refresh", class: "button"
  %h2 <small> Search via course number or instructor last name. <br> **Please Note** You can search using incomplete terms - ie 201, Wei instead of full terms - though results may be wonky.   </small>
  %h2 <small> Once you enter search criteria and refresh, you can sort list by clicking Last Name or Courses. <br> If you would like to reset your searches delete search field and click Refresh. </small>

%table.table.table-hover.table-bordered.table-nonfluid
  %tr
    %th App ID
    %th First Name
    %th= sort_link @sort, :last_name, "Last Name"
    %th Role
    %th= sort_link @sort, :courses_section, "Courses"
    %th # Completed
    %th # Signed Up For
    %th Credits    
    %th Paper Option
    %th More Info
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.first_name
        %td= user.last_name
        %td= user.role.capitalize
        %td
          - user.courses.each do |c|
            = c.section + " - "
            = c.instructor
            %br
        %td= user.completedstudies.size
        %td= user.studytimes.size
        %td= user.credits
        %td= user.paper_yes_or_no
        %td= link_to "Details of #{user.name}", user_path(user), :class => 'btn btn-link'
%div#pagination
  = will_paginate @users, renderer: BootstrapPagination::Rails
%br


/     #3. sort by selection
/     
/     elsif (params[:sort_by] == "signedupfor")
/       @users.sort!() {|a, b| -1*(a.studytimes.size <=> b.studytimes.size) }
/     elsif (params[:sort_by] == "completedstudies" )
/       @users.sort!() {|a, b| -1*(a.completedstudies.size <=> b.completedstudies.size) 
/     end