-#  This file is app/views/movies/index.html.haml
%h1 All Users

%table#users
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Role
      %th More Info
  %tbody
    - @users.each do |user|
      %tr
        %td= user.first_name 
        %td= user.last_name
        %td= user.role
        %td= link_to "More about #{user.first_name}", user_path(user)

= link_to 'Add new user', new_user_path
%br
%br
- if session[:logged_in]
  %p= "You are logged in as #{@me.first_name} #{@me.last_name}"
  %p= "Your role is: #{@me.role.upcase}"
  %p= "Your user ID is: #{@me.id}"
- else
  %p You are not currently logged in as anyone!