%div#body
  %h1 All Users

  = form_tag users_path, :method => :get do
    %select{:name => "courses"}
      = options_for_select( ["All Courses"] )
      - @all_courses.each do |course|
        = course
        = options_for_select( {"PSYC " + course.section + ": " + course.instructor => course.id} )
    = submit_tag 'Select Course', :id => "course_submit", :class => 'btn btn-primary'

%table.table.table-hover.table-bordered
  %tr
    %th= link_to "ID Number", users_path( :sort_by => "id", :courses => @courses)
    %th= link_to "First Name", users_path( :sort_by => "first_name")
    %th= link_to "Last Name", users_path( :sort_by => "last_name")
    %th= link_to "Role", users_path( :sort_by => "role")
    %th Courses
    %th= link_to "# Completed", users_path( :sort_by => "completedstudies")
    %th= link_to "# Signed Up For", users_path( :sort_by => "signedupfor")
    //%th= link_to "Paper Option", users_path( :sort_by => "paper_option")
    %th More Info
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.first_name
        %td= user.last_name
        %td= user.role.capitalize
        %td
          - user.courses.each do |c|
            %p#courses= c.section
        %td= user.completedstudies.size
        %td= user.studytimes.size
        //%td= user.paper_yes_or_no
        %td= link_to "Details of #{user.name}", user_path(user), :class => 'btn btn-link'
%div#pagination
  = will_paginate @users