.body
  %h1.title My Studies Make into TABLE ADAM

.container-fluid
  - @my_studytimes.each do |studytime|
  - s = studytime.study
    .row
      .col-md-3
        %div#top
          %div#left
            %p#title= link_to "#{s.title}", study_path(s), :class => 'btn btn-link'
            Researchers: 
            - numresearchers = s.researchers.size
            - s.researchers.each do |r|
              - if @me.admin?
                = link_to "#{r.first_name} #{r.last_name}", user_path(r), :class => 'btn btn-link'
              - else
                = r.full_name
              - numresearchers -= 1
              - if numresearchers > 0
                | 
          %div#right
            Time and Location:
            %p#time= studytime.to_s()
        %div#bottom
          %p#description= s.description
      .col-md-4
        = link_to "Leave This Study", studies_leave_path(:studytime => studytime, :path => 'from_my_studies'), :class => 'btn btn-danger'