-#  This file is app/views/studies/my_studies.html.haml

%div#body
  %h1 My Studies

  %ul.maincontent#mystudies
    - @my_studytimes.each do |studytime|
    - s = studytime.study
      %li
        %div#top
          %div#left
            %p#title= s.title
            Researchers: 
            - numresearchers = s.researchers.size
            - s.researchers.each do |r|
              = link_to "#{r.first_name} #{r.last_name}", user_path(r), { :class => "researcher_link"}
              - numresearchers -= 1
              - if numresearchers > 0
                | 
          %div#right
            Time and Location:
            %p#time= studytime.datetime.strftime("%A %b %e, %l:%M %p") + " in " + studytime.location
        %div#bottom
          %p#description= s.description
  