
%h1 Create New User

= form_tag users_path do

  = label :user, :first_name, 'First Name'
  = text_field :user, 'first_name'

  = label :user, :last_name, 'Last Name'
  = text_field :user, 'last_name'

  = label :user, :role, 'Role'
  = select :user, :role, 'role'

  = submit_tag 'Save Changes'
