.body
	%h1.title Account Setup
	%div#center
		%h4 
			Name: 
			= @me.full_name
		%br
		%h4
			Email:
			= @me.email
		%br
		%h2 <small> If you'd like to change your first name, please do so here. </small>
		%h2 <small> This will be your ONLY chance so please ensure it is typed correctly. There is NO WAY to edit past this point. </small>
		%br
		= form_for @me, method: :put do |u|
			= label :user, :first_name, "Preferred First Name"
			= text_field :user, :first_name
			%br
			Are you signing up as a study participant or as a researcher?
			= u.radio_button :role, 'participant', :required => true
			Participant
			= u.radio_button :role, 'researcher', :required => true
			Researcher			
			%br
			%br
			= u.submit "Finish Setup", :confirm => "By submitting you confirm that this information is correct and that you chose the correct role.", :class => 'btn btn-success'
