%div#body
	%div#setup.maincontent
		%h1.title Account Setup

		= form_for @me, method: :put do |u|
			%p Are you signing up as a study participant or as a researcher?
			= u.radio_button :role, 'participant', :required => true
			Participant
			= u.radio_button :role, 'researcher', :required => true
			Researcher
			%br

			%p If you are a participant, do you plan to write a paper instead of completing studies?
			= u.radio_button :paper_option, true
			Yes
			= u.radio_button :paper_option, false
			No
			%br

			= u.submit "Finish Setup", :confirm => "By submitting you confirm that all this information is correct and that you chose the correct role."