.container-fluid
	.row.title
		.col-md-3	
			%h2= @user.full_name
			%h2 <small> Role: </small>
			%h4= @user.role.capitalize
			%h2 <small> Paper Option: </small>
			%h4= @user.paper_yes_or_no
			= form_for @user, method: :put do |u|
				= label :user, :role, 'Role'
				%select{:name => "user[role]"}
					%option{:value => "researcher"} Researcher
					%option{:value => "participant"} Participant
					%option{:value => "admin"} Administrator
				%div#wrapper= u.submit "Update User Info"
		.col-md-3
			%h2 <small> Studies signed up for: </small>
			%p= @user.studytimes.size
			- if @havesignedup
				%h2 <small> Studies completed: </small>
				%p= @user.completedstudies.size
				%h2 <small> Study credits completed: </small>
				%p= @user.credits
			- if @user.studytimes.size > 0	
				%h2 <small> Studylist: </small>
				%ul#studylist
					- @user.studytimes.each do |s|
						- study = s.study
						- if @user.completedstudies.exists?(s)
							%li#complete= study.title + " | " + s.toString + " | COMPLETED (#{study.credits} credits)"
						- else
							%li#incomplete= study.title + " | " + s.toString + " | NOT YET COMPLETED (#{study.credits} credits)"
			- if @mine || @admin			
				%h2 <small> Courses enrolled in: </small>
				- if @user.courses.size > 0
					- @user.courses.each do |c|
						%h4= "Section: #{c.section} | Instructor: #{c.instructor}"
						= link_to "Remove Course", users_leavecourse_path(:course => c), :class => 'btn btn-danger';
				- else
					%h4 None
				= link_to "Add Course", users_addcourse_path, :class => 'btn btn-success';
				= link_to "Edit Account", edit_user_path(@user), :class => 'btn btn-info';
