%h2 Details about #{@user.first_name} #{@user.last_name}

%ul#details
	%li= "First Name: #{@user.first_name}"
	%li= "Last Name: #{@user.last_name}"
	%li= "Role: #{@user.role}"
	%li= "Paper Option: #{@user.paper_yes_or_no}"

= link_to 'Edit', edit_user_path(@user)
= button_to 'Delete', user_path(@user), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to users list', users_path
