%div#body
	%h1= @user.full_name
	%div.maincontent#userinfo
		%h2 Role: 
		%p= @user.role.capitalize
		%h2 Paper Option:
		%p= @user.paper_yes_or_no
		%h2 Studies signed up for:
		%p= @user.studytimes.size
		%h2 Studies completed:
		%p= @user.completedstudies.size
		%h2 Courses enrolled in:
		- if @user.courses.size > 0
			- @user.courses.each do |c|
				%p= "Section: #{c.section} | Instructor: #{c.instructor}"
		- else
			%p None
			%div#wrapper= link_to "ADD COURSE", edit_user_path(@user), { class: 'selection_link' }
		- if @user.studytimes.size > 0	
			%h2 Studylist:
			%ul#studylist
				- @user.studytimes.each do |s|
					- study = s.study
					- if @user.completedstudies.exists?(s)
						%li#complete= study.title + " | " + s.toString + " | COMPLETED"
					- else
						%li#incomplete= study.title + " | " + s.toString + " | NOT YET COMPLETED"
		- if @mine || @admin			
			%div#wrapper= link_to "EDIT MY ACCOUNT", edit_user_path(@user), { class: 'selection_link' }
