%div#body
	- name = @user.first_name + " " + @user.last_name
	%h1= name
	%div.maincontent#userinfo
		%h2 Role: 
		%p= @user.role
		%h2 Studies signed up for:
		%p= @user.studytimes.size
		%h2 Studies completed:
		%p= @user.completedstudies.size
		%h2 Studylist:
		%ul#studylist
			- @user.studytimes.each do |s|
				- study = s.study
				- if @user.completedstudies.exists?(s)
					%li#complete= study.title + " | " + s.datetime.strftime("%A %b %e, %l:%M %p") + " | " + s.location + " | COMPLETED"
				- else
					%li#incomplete= study.title + " | " + s.datetime.strftime("%A %b %e, %l:%M %p") + " | " + s.location + " | NOT YET COMPLETED"