#login
  - if @current_user #logged in
    %p
      You are logged in as:
      = succeed "Name:" do
        %br/
      = @current_user.full_name
      = succeed "Login:" do
        %br/
      = @current_user.name
      = succeed "Email:" do
        %br/
      = @current_user.email
      = succeed "Faculty:" do
        %br/
      = @current_user.faculty?
      = succeed "Student:" do
        %br/
      = @current_user.student?
    %p
      (#{link_to('Log Out', logout_path)})
  - else
    = link_to('Log in with your UPS account','/auth/shibboleth')
    = form_tag(test_login_path) do
      = label_tag(:user_id, "Login as user #:")
      = number_field_tag(:user_id, in: 1.0..10.0, step: 1.0)
      = submit_tag("Submit")