
%ul#login
	%li= link_to "Log in as Participant", users_login_path(:email=>"bcarpenter@ups.edu", :password=>"chuck")
	%li= link_to "Log in as Researcher", users_login_path(:email=>"swinthrop@ups.edu", :password=>"wendy")
	%li= link_to "Log in as Admin", users_login_path(:email=>"rdorn@ups.edu", :password=>"password")
	%li= link_to "Hailey", users_login_path(:email=>"d", :password=>"d")
	/ %li= link_to "Invalid Password", users_login_path(:email=>"rdorn@ups.edu", :password=>"nope")
	/ %li= link_to "Log in as No Studies", users_login_path(:email=>"da", :password=>"password")
	- #render the login partial (chunk of html)
	%li= link_to('Log in with your UPS account','/auth/shibboleth')