%div#body
	%h1 Study Attendance: #{@study.title}
	%h2= @time.toString()
	<br><br>
	= "In order to confirm the attendance of your participants, click 'Here' next to anyone's name that comes. If anyone shows up who is not on the list, have them log in (and sign up if necessary) and sign up for this study and then add them."
	<br><br>
	- @participants.each do |p, bool|
		= p.name
		- if(!bool)
			= form_tag(studies_confirm_attendance_path(p.id, @time.id), method: :post, :style=>"display:inline") do
				%input{:type =>"submit", :value => "Here"}
		<br>