.body
  %h1.title Edit Existing Study
  .container-fluid
    .row 
      = form_tag study_path(@study), :method => :put do
        .col-sm-2
        .col-md-4
          = label :study, :title, 'Title'
          = text_field :study, :title
          %br
          %br
          = label :study, :description, 'Description'
          %br
          = text_area :study, :description
          %br
          %br
        .col-md-2
          = label :study, :duration, 'Duration of Study'
          %br
          %select{:name => "study[duration]"}     
            %option{:value => "Up to 30 mins"} Up to 30 mins
            %option{:value => "Up to 60 mins"} Up to 60 mins
            %option{:value => "Time in Description"} Time in Description
          %br
          %br
          = label :study, :max_participants, 'Max Number of Participants'
          = number_field :study, :max_participants
          %br
          %br
          = label :study, :credits, 'Credit Amount'
          %br
          %select{:name => "study[credits]"}     
            %option{:value => "1"} 1
            %option{:value => "2"} 2
            %option{:value => "Credits in Description"} Credits in Description
          %br
          %br
          = label :study, :datetime, 'Study Times'
          - @studytimes.each do |st|
            %p= "--- #{st.to_s}"
          %br
          = submit_tag 'Update Study Info', :id => 'save_changes', :class => 'btn btn-info'

          %br
          %br