-#  This file is app/views/movies/index.html.haml
%h1 All Studies

%table#studies
  %thead
    %tr
      %th Title
      %th description
      %th date/time
      %th More Info
  %tbody
    - @studies.each do |study|
      %tr
        %td= study.title 
        %td= study.description
        %td= study.date_time
        %td= link_to "More about #{study.title}", study_path(study)

= link_to 'Add new study', new_study_path