-#  This file is app/views/movies/index.html.haml

%h1 All Studies
<div id="indent1">

%button= link_to "Home", root_path
%button= link_to 'Add new study', new_study_path
%table#studies
  %thead
    %tr
      %th Title
      %th Researchers
      %th Description
      %th Times
      %th Learn More
      %th Sign Up
  %tbody
    - @studies.each do |study|
      %tr
        %td= study.title 
        %td= study.researchers
        %td= study.description
        %td
          - study.time_slots.each do |t|
            = t.time.strftime("%a %b %d, %Y, %l:%M")
        %td= link_to "More about #{study.title}", study_path(study)

= link_to 'Add new study', new_study_path
%br
%br
- if @me
  %p= "You are logged in as #{@me.first_name} #{@me.last_name}"
  %p= "Your role is: #{@me.role.upcase}"
  %p= "Your user ID is: #{@me.id}"
- else
  %p You are not currently logged in as anyone!    

</div>
