-#  This file is app/views/movies/index.html.haml
%h1 All Studies

%button= link_to "Home", root_path
%button= link_to 'Add new study', new_study_path
%table#studies
  %thead
    %tr
      %th Title
      %th Researcher
      %th Description
      %th Times
      %th Learn More
      %th Sign Up
  %tbody
    - @studies.each do |study|
      %tr
        %td= study.title 
        %td= study.researcher
        %td= study.description
        %td= study.times
        %td= link_to "More about #{study.title}", study_path(study)