%h1 Create New Study

= form_tag studies_path do

  = label :study, :title, 'Title'
  = text_field :study, 'title'

  = label :study, :description, 'Description'
  = text_field :study, 'description'

  = label :study, :date_time, 'Date/Time'
  = date_select :study, :date_time

  = submit_tag 'Save Changes'
