%h1 Create New Study

= form_tag studies_path do

  = label :study, :title, 'Title'
  = text_field :study, 'title'

  = label :study, :description, 'Description'

  = text_area :study, 'description'

  = label :study, :date_time, 'Date/Time'
  /= date_select :time_slot, :date_time
  = datetime_select :time_slot, :date_time

  = label :study, :max_participants, 'Max Number of Participants'
  = text_field :study, :max_participants

  /= label :study, :special_instructions, 'Special Instructions to Participants'
  /= text_field :study, :special_instructions

  = submit_tag 'Save Changes'
