
%h1 Create New Study

<div id="indent1">
= form_tag studies_path do

  = label :study, :title, 'Title'
  = text_field :study, 'title'

  = label :study, :description, 'Description'
  = text_area :study, 'description'

  = label :study, :max_participants, 'Max Number of Participants'
  = text_field :study, :max_participants

  = label :study, :duration, 'Length of Study'
  = text_field :study, :duration

  //= label :time_slot, :datetime, 'Date/Time'
  //= datetime_select :time_slot, :datetime
  <br> <br>
  = submit_tag 'Save Changes'

</div>