%div#body
	%h1 Details about #{@study.title}
	%div.maincontent#studyinfo
		%h2 Research Team: 
		- numresearchers = @study.researchers.size
		- @study.researchers.each do |r|
			= link_to "#{r.first_name} #{r.last_name}", user_path(r), { :class => "researcher_link"}
			- numresearchers -= 1
			- if numresearchers > 0
				|
		%h2 Description:
		%p#description= @study.description
		%h2 Length of Study: 
		%p#duration= @study.duration
		%h2 Maximum participants per time slot: 
		%p#max_participants= @study.max_participants 
		%h2 Available Times:
		- @study.studytimes.each do |t|
			-open = @study.max_participants - t.participants.size
			%p#time= t.datetime.strftime("%A %b %e, %l:%M %p") + " in " + t.location
			%p#openings= "Open spots: #{open}"
			- if open==0
				%p#full= "FULL"
			- elsif @me.studytimes.exists?(t)
				%p#joined= "JOINED"
			- else
				= link_to "JOIN THIS STUDY", studies_join_path(:studytime => t), { :class => "selection_link"}
			%br