-# in app/views/studies/show.html.haml

%h2 Details about #{@study.title}

%ul#details
  %li
    Title:
    = @study.title

%h3 Description:

%p#description= @study.description

= link_to 'Edit', edit_study_path(@study)
= button_to 'Delete', study_path(@study), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to studies list', studies_path
