%h1 Details about #{@study.title}

<div id="indent1">

%h2 Researcher: 

%p#researcher= @study.researcher

%h2 Description:

%p#description= @study.description

%h2 Maximum Number of Participants: #{@study.max_participants}

%h2 Length of Study: #{@study.duration}

%h2 Times
- @study.studytimes.each do |t|
	= t.datetime.strftime("%a %b %d %Y %l:%M")
<br><br>

= link_to 'Edit', edit_study_path(@study)
= button_to 'Delete', study_path(@study), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to studies list', studies_path

</div>

//show details: max_participants & num of open spots, length of study, times,

//need to do a check when a participants wants to join the study to check that there is still space for another participant (max_participants)