%div#body
	%h1 Details about #{@study.title}
	- if @mine
		%h2 THIS STUDY BELONGS TO YOU
	%div.maincontent#studyinfo
		%h2 Research Team: 
		- numresearchers = @study.researchers.size
		- @study.researchers.each do |r|
			- if @me.admin?
				= link_to "#{r.first_name} #{r.last_name}", user_path(r), { :class => "researcher_link"}
			- else
				%p= r.full_name
			- numresearchers -= 1
			- if numresearchers > 0
				|
		%h2 Description:
		%p#description= @study.description
		%h2 Length of Study: 
		%p#duration= @study.duration
		%h2 Credit Worth:
		%p= @study.credits
		%h2 Maximum participants per time slot: 
		%p#max_participants= @study.max_participants 
		%h2 Available Times:
		- @study.studytimes.each do |t|
			- open = @study.max_participants - t.participants.size
			%p#time= t.toString
			%p#openings= "Open spots: #{open}"
			- if !@mine
				- if @me.studytimes.exists?(t)
					%div#joinwrapper
						%p#joined= "JOINED"
						= link_to "Leave", studies_leave_path(:studytime => t, :path => 'from_show')
				- elsif open==0
					%div#joinwrapper
						%p#full= "FULL"
				- elsif @hasjoined
					%div#joinwrapper
						%p#full= "ONLY ONE SECTION MAY BE JOINED"
				- elsif @me.admin?
					%div#joinwrapper
						%p#joined= "OPEN"
				- else
					%div#joinwrapper= link_to "JOIN THIS STUDY SECTION", studies_join_path(:studytime => t), { :class => "selection_link"}
		- if @mine || @me.admin?
			%br
			%br
			%div#joinwrapper= link_to "EDIT THIS STUDY", edit_study_path(@study), { :class => "selection_link"}