.body
	%h1 Details about #{@study.title}
	- if @mine
		%h2 THIS STUDY BELONGS TO YOU
.container-fluid
	.row
		.col-md-4
			%h2 Research Team: 
			- numresearchers = @study.researchers.size
			- @study.researchers.each do |r|
				= link_to "#{r.first_name} #{r.last_name}", user_path(r), :class => 'btn btn-link'
				- numresearchers -= 1
				- if numresearchers > 0
					|

			%h2 Description:
			%p#description = @study.description

			%h2 Length of Study: 
			%p#duration = @study.duration

			%h2 Credit Worth:
			%p= @study.credits

			%h2 Maximum participants per time slot: 
			%p#max_participants= @study.max_participants 

		.col-md-3
			%h2 Available Times:
			- @study.studytimes.each do |t|
				- open = @study.max_participants - t.participants.size
				%p#time= t.toString
				%p#openings= "Open spots: #{open}"

				- if !@mine
					- if @me.studytimes.exists?(t)
						.alert.alert-success
							%p#joined= "Joined"
							= link_to "Leave", studies_leave_path(:studytime => t, :path => 'from_show'), :class => 'btn btn-danger'

					- elsif open == 0
						.alert.alert-danger
							%p#full= "Study Full"

					- elsif @hasjoined
						.alert.alert-warning
							%p#full= "Allowed only one section"

					- elsif @me.admin?
						.alert.alert-success
							%p#joined= "Open"

					- else
						%div#joinwrapper= link_to "Join this section", studies_join_path(:studytime => t), :class => 'btn btn-default'

			- if @mine
				%br
				%br
				%div#joinwrapper= link_to "Edit the Study", edit_study_path(@study), :class => 'btn btn-default'