.body
	%h1.title Details about #{@study.title}
	%div#center
		- if @mine
			%h2 Your Study
.container-fluid
	.row
		.col-md-4
			%h2 <small> Research Team: </small>
			- numresearchers = @study.researchers.size
			- @study.researchers.each do |r|
				= link_to "#{r.first_name} #{r.last_name}", user_path(r), :class => 'btn btn-link'
				- numresearchers -= 1
				- if numresearchers > 0
					|

			%h2 <small> Description: </small>
			= @study.description

			%h2 <small> Length of Study: </small>
			= @study.duration

			%h2 <small> Credit Worth: </small>
			%p= @study.credits

			%h2 <small> Maximum participants per time slot: </small>
			%p#max_participants= @study.max_participants 

		.col-md-3
			%h2 <small> Available Times: </small>
			- @study.studytimes.each do |t|
				- open = @study.max_participants - t.participants.size
				%p#time= t.to_s
				%p#openings= "Open spots: #{open}"

				- if !@mine
					- if @me.studytimes.exists?(t)
						.alert.alert-success
							%p#joined= "Joined"
							= link_to "Leave", studies_leave_path(:studytime => t, :path => 'from_show'), :class => 'btn btn-danger'

					- elsif open == 0
						.alert.alert-danger
							%p#full= "Study Full"

					- elsif @hasjoined
						.alert.alert-warning
							%p#full= "Allowed only one section"

					- elsif @me.admin?
						.alert.alert-success
							%p#joined= "Open"

					- else
						%div#joinwrapper= link_to "Join this section", studies_join_path(:studytime => t), :class => 'btn btn-default'

			- if @mine
				%br
				%br
				%div#joinwrapper= link_to "Edit the Study", edit_study_path(@study), :class => 'btn btn-warning'