<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name %></h1>
    <p>
    This is a reminder that you are signed up for a Psychology study <b>TOMORROW</b>.<br>
    </p>
    <h2>Study Details</h2>
    <p><%= @study.title %></p>
    <p><%= @study.description %></p>
    <h2>Session Details</h2>
    <p>Time and Date: <%= @studytime.datetime.strftime("%A %b %e, %l:%M %p") %></p>
    <p>Room Assignment: <%= @studytime.location %></p>

    <p>Thank you</p>
  </body>
</html>