%div#header
  %h1 PROJECT CAKE
  - if @me
    %ul.headerlink#navbar
      %li= link_to "ALL STUDIES", studies_path
      - if (@me.role != 'admin') && (@me.studytimes != [])
        %li= link_to "MY STUDIES", users_my_studies_path
      - if (@me.role == 'researcher') && (@me.created_studies != [])
        %li= link_to "STUDIES I RUN", users_created_studies_path
      - if (@me.role == 'admin')
        %li= link_to "ALL USERS", users_path
  - if flash.alert
    %p#alert= flash.alert
  - if @me
    %p.headerlink#logout= link_to "LOG OUT", root_path(logout: true)
    %p.headerlink#myaccount= link_to "MY ACCOUNT", user_path(@me)