%div#header
  /%img.img-rounded{:src => "images/logo.jpg"}
  /%img.img-rounded{:alt => "UPS Logo", :src => "logo.jpg"}
  %h1.header= "Subject Pool Manager"
  - if @me
    = link_to "Studies", studies_path, :class => 'btn btn-default';

    - if (@me.role == 'admin')
      = link_to "All Users", users_path, :class => 'btn btn-default'
      = link_to "All Admins", users_admins_path, :class => 'btn btn-default'

    - if (@me.student?) && (@me.studytimes != [])
      = link_to "My Studies", users_my_studies_path, :class => 'btn btn-default'

    - if (@me.role == 'researcher')
      = link_to "Create Study", new_study_path, :class => 'btn btn-default'
      - if (@me.created_studies != [])
        = link_to "Studies I Run", users_created_studies_path, :class => 'btn btn-default'  

    = link_to "Log Out", logout_path, :class => 'btn btn-logout btn-danger'
    = link_to "My Account", user_path(@me), :class => 'btn btn-default btn-myaccount'

  - if flash.alert
    %p#alert= flash.alert