%div#header
  %h1 Subject Pool Manager
  - p @me
  - if @me
    %ul.headerlink#navbar
      %li= link_to "All Studies", studies_path
      - if (@me.role != 'admin')
        %li= link_to "My Studies", users_my_studies_path
      - if (@me.role == 'researcher')
        %li= link_to "Studies I Run", users_created_studies_path
      - if (@me.role == 'admin')
        %li= link_to "All Users", users_path
  - if flash.alert
    %p#alert= flash.alert
  - if @me
    // Destroys session for PS auth
    %p.headerlink#logout= link_to "Log Out", :controller => "sessions", :action => "destroy"

    %p.headerlink#myaccount= link_to "My Account", user_path(@me)