%div#header
  %h1=  "Psychology Subject Pool Manager"
  - p @me
  - if @me
    %ul.headerlink#navbar
      = link_to "Studies", studies_path, :class => 'btn btn-default';

      - if (@me.role == 'admin')
        = link_to "All Users", users_path, :class => 'btn btn-default'

      - if (@me.student?) && (@me.studytimes != [])
        %li= link_to "My Studies", users_my_studies_path, :class => 'btn btn-default'

      - if (@me.role == 'researcher')
        - if (@me.created_studies != [])
          = link_to "Studies I Run", users_created_studies_path, :class => 'btn btn-default';
          = link_to "Create Study", new_study_path, :class => 'btn btn-default'
        - else
          = link_to "Create Study", new_study_path, :class => 'btn btn-default'
      -
      = link_to "My Account", user_path(@me), :class => 'btn btn-default'
      // Destroys session for PS auth
      = link_to "Log Out", logout_path, :class => 'btn btn-logout'

  - if flash.alert
    %p#alert= flash.alert

