%html
  %head
    %title PsychBook!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1.title PsychBook!

    %ul.navbar
      - if @me
        %li= link_to "Log Out", root_path(logout: true)
      - else
        %li= link_to "Home", root_path
      - if (@me) && (@me.role != 'admin') && (@me.studies != [])
        %li= link_to "My Studies", users_my_studies_path
      %li= link_to "All Studies", studies_path
      %li= link_to "All Users", users_path
      
  = yield